@using BookStore.Models
@{
    ViewBag.Title = "shop";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href=@Url.Action("Index", "customer")>Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-9 order-2">
                        <div class="row mb-4">
                            <!--產生12個商品清單 by彥陞-->
                            @foreach (Book book in ViewBag.AllBooks)
                            {<!--一個商品格子-->
                                <div class="col-sm-6 col-lg-4 col-mb-4" data-aos="fade-up">
                                    <div class="block-4 text-center border" style="height:400px">
                                        <figure class="block-4-image" style="padding:5px">
                                            <!--圖片 by彥陞-->
                                            <a href=@Url.Action("ShopSingle", "Customer", new { ISBN = book.ISBN })>
                                                <img tyle="vertical-align:central" src="@book.Cover" alt="Product Image" class="img-fluid" style="padding:5px;margin:auto;height:150px;height:250px" />
                                            </a>
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <h><a style="text-align:center;font-size:small" href=@Url.Action("ShopSingle", "Customer", new { ISBN = book.ISBN})>@book.Name</a></h>
                                            <div class="text-primary font-weight-bold">$ @book.UnitPrice</div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            }
                        </div>
                    </div>
                    <!--左側category by彥陞-->
                    <div class="col-md-3 order-1 mb-5 mb-md-0 ">
                        <div class="border p-4 rounded mb-4">
                            <h3>Category</h3>
                            @foreach (Category category in ViewBag.AllCategories)
                            {
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1"><a href=@Url.Action("ShopFilterCategory", "Customer", new { category = category.CType}) class="d-flex"><span>@category.CategoryID  @category.CType</span> <span class="text-black ml-auto">(@category.BooksAmount)</span></a></li>
                                </ul>
                            }
                        </div>
                        <div class="border p-4 rounded mb-4">
                            @using (Html.BeginForm("ShopFilterPrice", "Customer", FormMethod.Post))
                            {
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                                <div class="col-md-1">
                                    <label>Min</label>
                                    <input type="text" name="lowPrice" class="mr-2 mt-1" placeholder="0"/>
                                </div>
                                <div class="col-md-1">
                                    <label>Max</label>
                                    <input type="text" name="highPrice" class="mr-2 mt-1" placeholder="0"/>
                                </div>
                                <br />
                                <input type="submit" class="btn-block mt-1 offset-md-1 btn" style="width:80px" value="Search" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

