@model List<BookStore.Models.Book>
@{
    ViewBag.Title = "ShopSingle";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href=@Url.Action("Shop", "Customer")>Shop</a>
                    <span class="mx-2 mb-0">/</span>
                    <!--這裡放商品名稱 by彥陞-->
                    <strong class="text-black">@Model[0].Name</strong>
                </div>  
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <!--圖片位置、大小以調整 by彥陞-->
                    <img src=@Model[0].Cover alt="Image" class="img-fluid" style="margin:auto;height:450px;width:300px" />
                </div>
                <div class="col-md-6">
                    <h1 class="text-danger">@Model[0].Name</h1>
                    <p style="font-size:larger" class="text-black">@Model[0].Description</p>
                    <p class="text-black">Author: @Model[0].Author</p>
                    <p class="text-black">Publisher: @Model[0].Publisher</p>
                    <p class="text-black">Publish Date: @Model[0].PublishDate</p>
                    <p class="text-black" style="font-size:larger">
                        <strong>$ @Model[0].UnitPrice</strong>
                    </p>
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <a href=@Url.Action("InterestedBookAdded", "Customer", new { customerID = User.Identity.Name, ISBN = @Model[0].ISBN }) class="btn btn-outline-primary btn-sm btn-block">INTERESTED</a>
                        </div>
                        <div class="col-md-6">
                            <a href=@Url.Action("ShoppingCartAdded", "Customer", new { customerID = User.Identity.Name, ISBN = @Model[0].ISBN, quantity = 1}) class="btn btn-outline-primary btn-sm btn-block">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>

</body>
</html>