@using BookStore.Models
@{
    ViewBag.Title = "shop";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href=@Url.Action("Index", "customer")>Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-9 order-2">
                        <div class="row mb-5">
                            <!--產生12個商品清單-->
                            <!--然後這些分頁我弄不起來現在頂多只能產生長到不行的商品列可能要想辦法解決-->
                            @foreach (Book book in ViewBag.AllBooks)
                            {<!--一個商品格子-->
                                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                    <div class="block-4 text-center border">
                                        <figure class="block-4-image">
                                            <!--要注意Book.Cover放入的圖片實際資料庫還沒有圖片-->
                                            <!--圖片-->
                                            <a href=@Url.Action("ShopSingle", "Customer", new { ISBN = book.ISBN })>
                                                <img src =@book.Cover  alt="Product Image" class="img-fluid" />
                                            </a>
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <h3><a href=@Url.Action("ShopSingle", "Customer", new { ISBN = book.ISBN})>@book.Name</a></h3>
                                            <p class="text-primary font-weight-bold">@book.UnitPrice</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!--左側category-->
                    <div class="col-md-3 order-1 mb-5 mb-md-0 ">
                        <div class="border p-4 rounded mb-4">
                            <h3>Category</h3>
                            @foreach (Category category in ViewBag.AllCategories)
                            {
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1"><a href=@Url.Action("ShopFilterCategory", "Customer", new { category = category.CType}) class="d-flex"><span>@category.CategoryID  @category.CType</span> <span class="text-black ml-auto">(@category.BooksAmount)</span></a></li>
                                </ul>
                            }
                        </div>
                        <div class="border p-4 rounded mb-4">
                            <form method="post" action="@Url.Action("Shop","Customer")">
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                                Min Price
                                <input type="text" id="lowPrice" class="mr-2 mt-1" placeholder="0">
                                Max Price
                                <input type="text" id="highPrice" class="mr-2 mt-1" placeholder="0">
                                <br />
                                <input type="submit" class="btn-block mt-1" style="width:80px" value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

