@using BookStore.Models
@model List<BookStore.Models.Contain>
@{
    ViewBag.Title = "SingleOrder";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<body>
    <div class="container" style="border:2px #808080 groove;padding:50px">
        <h2 style="text-align:center">Purchase Detail</h2>
        <h2 class="col-md-2" style="text-align:center; color:#ff0000">@ViewBag.OrderID</h2>
        <table class=" table">
            <thead>
                <tr>
                    <td style="text-align:center">ISBN</td>
                    <td style="text-align:center">Name</td>
                    <td style="text-align:center">Price</td>
                    <td style="text-align:center">Quantity</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Contain contain in Model)
                {
                    <tr>
                        <td style="text-align:center">@contain.ISBN</td>
                        <td style="text-align:center">@contain.Name</td>
                        <td style="text-align:center">@contain.Price</td>
                        <td style="text-align:center">@contain.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
